    @media (min-width: 1125px){
        .jumbText{
          margin: 7em 5em 0 6em;
      }
      .jumbotron{

          min-height: 727px;
      }
      #cont{
          padding: 0em;
      }
  }
  @media (max-width: 1124px){
    .jumbText{
      margin: 3em 0 0 0;

  }
  .jumbotron{
      min-height: 300px;
  }
  #cont{
      padding: 0em;
  }

}
@media(max-width: 580px){
    .jumbText{
      margin: 2em 0 0 0;
  }
  .jumbotron{
      min-height: 200px;
  }
  #cont{
      padding: 0em;
  }
}
#mancha1{
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 20%;
    height: auto;
    z-index: 1;
}
#mancha2{
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 20%;
    height: auto;
    z-index: 1;
}
#mancha3{
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 25%;
    height: auto;
    z-index: 1;
}
#mancha4{
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 25%;
    height: auto;
    z-index: 1;
}
.card{
    width: 100%;
}
.checked{
    color: orange;
}
img.responsive { 
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.imgbase{
    width: 100%;
    height: 90%;
    max-height: 0 auto;
}
.hover11 img {
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover11:hover img{
    opacity: .5;
}
.hover11:hover .txt{
    visibility: visible;
}
.txt{
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    visibility: hidden;
}
.lead{
    font-size: 3vw;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 6px 6px 10px black;
}
.form-control::-webkit-input-placeholder { color: white; 
    opacity: 0.5;
}
#mybutton {
    text-align: right;
    position: fixed;
    bottom: 5px;
    right: 5px; 
}
#fixedbutton:hover{
    border: 2px solid black;
}
#fixedbutton{
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#formhead{
    position: relative;
}
#categorias{
    position: absolute;
    top: -230px;
}
.checked {
    color: orange;
}
* {
    box-sizing: border-box;
}
.slider {
    width: 100%;
    margin: 100px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slider.variable-width{
    width:100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-slide img{
    max-width: 100%;
    width: auto!important;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}
.slick-active {
    opacity: 1;
}
.slick-current {
    opacity: 1;
}